[Unit]
Description=NextPKI Certificate Discovery Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/certscan -d -c /etc/certscan/config.yaml -l /var/log/certscan.log -p /var/run/certscan.pid
Restart=on-failure
User=certscan
Group=certscan

[Install]
WantedBy=multi-user.target
